
@tailwind base;
@tailwind components;
@tailwind utilities;



  /* ===== Scrollbar CSS ===== */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-button {
    width: 2px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-red-600;
    border: 0px none #ffffff00;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-red-400;
  }
  ::-webkit-scrollbar-thumb:active {
    @apply bg-red-500;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
    border: 0px none #ffffff;
    border-radius: 50%;
  }
  ::-webkit-scrollbar-track:hover {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-track:active {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-corner {
    @apply bg-transparent;  }